img.imagefundo{
    border: 1px solid #ffffff;
    margin-top: 5px;
    margin-left: 5px;
    width: 125px;;
    height:125px;
    border-radius: 5px;
}
header.toposite{
    background-color: #035c00;
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;
    height:150px;
}

.bntCadastro{
    background-color: #4caf65;
    border: 8px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-blok;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.bntCadastro:hover {
    background-color: #4caf51;
}
body.corposite{
    max-width: 100%;
    background-color: #38c233c7;
    background: url(/image/fundoLogin.png);
}
.LoginOn{
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 15px;
    background: #035c00f5;
    color: #ffffff;
    padding: 20px;
    width: 500px;
    height: 450px;
      
}
.formCadastro{
    text-align: left;

}
.bntFimCadastro{
    background-color: #4caf65;
    border: 8px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    display: right;
}
.bntFimCadastro:hover {
    background-color: #4caf51;
}
.letreiro.h2.p{
    margin-left: -8px;
    margin-right: -8px;
    text-align: end;
}
.tabela {
    text-align: center;
    background-color: #4caf51;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    border-radius: 15px;
}
.tabelaform{
    margin-left: 15%;
    
}
table, tr , td {
    color: #ffffff;
    border: 1px solid rgb(62, 255, 3);
    border-collapse: collapse;
}
td {
    background-color: #239b1f;
   
}
